:root {
  --arm-color: sienna;
  --string-color: silver;
  --fret-color: gold;
  --mark-color: color-mix(in srgb, ivory 50%, transparent);
  --fret-img: linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%);
  --mark-img: radial-gradient(circle, var(--mark-color) 50%, transparent 50%);
}


body {
  margin: 0.5em !important;

  overflow: scroll;
  position: absolute;
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  max-height: 90vmin;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 30em;
}

.arm {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: auto auto auto auto auto auto 2em;
  height: 100%;
  width: 100%;
  max-height: 30em;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.fret {
  font-size: 8pt;
  display: block;
  height: 100%;
  z-index: 12;
  min-width: calc(3.5em + 2em - var(--fret-number)*0.5612em);
  position: relative;
  border: none;

  background-color: var(--arm-color);
  background-image: linear-gradient(0deg, transparent calc(50% - var(--string-number)*1px - 0.5px), var(--string-color) calc(50%), transparent calc(50% + var(--string-number)*1px + 0.5px)),
                    linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%); 
  color: #00000066;
  padding-bottom: 2em;
}

.fret[data-fret="0"] {
  background-color: black;
  color: ivory;
  --fret-color: ivory;

} 

.fret.active {
  color: black;
  background-color: var(--active-color);
  background-clip: padding-box;
}

.fret[data-string="2"] {
  &[data-fret="3"], 
  &[data-fret="5"],
  &[data-fret="7"],
  &[data-fret="9"],
  &[data-fret="15"],
  &[data-fret="17"],
  &[data-fret="19"],
  &[data-fret="21"] {
    position: relative;
    background-image: linear-gradient(0deg, transparent calc(50% - var(--string-number)*1px - 0.5px), var(--string-color) calc(50%), transparent calc(50% + var(--string-number)*1px + 0.5px)), 
                      linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%), var(--mark-img);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 50% 50%;
    background-position: 100%, 100%, 50% 150%;
  }
}

.fret[data-string="3"] {
  &[data-fret="3"], 
  &[data-fret="5"],
  &[data-fret="7"],
  &[data-fret="9"],
  &[data-fret="15"],
  &[data-fret="17"],
  &[data-fret="19"],
  &[data-fret="21"] {
    background-image: linear-gradient(0deg, transparent calc(50% - var(--string-number)*1px - 0.5px), var(--string-color) calc(50%), transparent calc(50% + var(--string-number)*1px + 0.5px)), 
                      linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%), var(--mark-img);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 50% 50%;
    background-position: 100%, 100%, 50% -50%;
  }
}

.fret[data-string="0"], .fret[data-string="4"] {
  &[data-fret="12"],
  &[data-fret="24"] {
    background-image: linear-gradient(0deg, transparent calc(50% - var(--string-number)*1px - 0.5px), var(--string-color) calc(50%), transparent calc(50% + var(--string-number)*1px + 0.5px)), 
                      linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%), var(--mark-img);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 50% 50%;
    background-position: 100%, 100%, 50% calc(100% + 50%);
  }
}

.fret[data-string="1"], .fret[data-string="5"] {
  &[data-fret="12"],
  &[data-fret="24"] {
    background-image: linear-gradient(0deg, transparent calc(50% - var(--string-number)*1px - 0.5px), var(--string-color) calc(50%), transparent calc(50% + var(--string-number)*1px + 0.5px)),
                      linear-gradient(90deg, transparent calc(100% - 6px), var(--fret-color) calc(100% - 4px),  var(--fret-color) 100%), var(--mark-img);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 50% 50%;
    background-position: 100%, 100%, 50% -50%;
  }
}

.fret-number {
  text-align: center;
  background-color: white;
  padding-top: 0.5em;
}

.fret:hover {
  --string-color: rgb(60, 255, 66);
}