:root {
  --arm-color: sienna;
  --string-color: rgba(192,192,192,0.8);
  --fret-color: goldenrod;
  --mark-color: color-mix(in srgb, ivory 50%, transparent);
}


body {
  overflow: scroll;
  position: absolute;
  width: calc(100% - 1em);
  height: 90%;
}

#container {
  position: relative;
  height: calc(100% - 2em);
  max-height: 30em;
  /* width: 100%; */
}

.arm {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  height: 100%;
  background-color: var(--arm-color);
}

.fret {
  display: block;
  height: 100%;
  z-index: 12;
  min-width: 2vmax;
  position: relative;
  border: none;
  border-right: 5px ridge var(--fret-color);
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent calc(50% - 1px), var(--string-color) calc(50%), transparent calc(50% + 1px));  
  color: #00000044;
}

.fret[data-fret="0"] {
  min-width: 4em;
  /* background-color: black; */
  color: ivory;
  border-right: 5px inset lightgray;
} 

.fret.active {
  color: black;
  background-color: var(--active-color);
}

.fret[data-string="2"] {
  &[data-fret="3"], 
  &[data-fret="5"],
  &[data-fret="7"],
  &[data-fret="9"],
  &[data-fret="15"],
  &[data-fret="17"],
  &[data-fret="19"],
  &[data-fret="21"] {
    background-image: linear-gradient(0deg, transparent calc(50% - 1px), var(--string-color) calc(50%), transparent calc(50% + 1px)), 
    radial-gradient(circle, var(--mark-color) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position-y: top,6.5vh;
    overflow-y: visible;
  }
}

.fret[data-string="3"] {
  &[data-fret="3"], 
  &[data-fret="5"],
  &[data-fret="7"],
  &[data-fret="9"],
  &[data-fret="15"],
  &[data-fret="17"],
  &[data-fret="19"],
  &[data-fret="21"] {
    background-image: linear-gradient(0deg, transparent calc(50% - 1px), var(--string-color) calc(50%), transparent calc(50% + 1px)), radial-gradient(circle, var(--mark-color) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position-y: top, -6.5vh;
  }
}

.fret[data-string="0"], .fret[data-string="4"] {
  &[data-fret="12"],
  &[data-fret="24"] {
    background-image: linear-gradient(0deg, transparent calc(50% - 1px), var(--string-color) calc(50%), transparent calc(50% + 1px)), radial-gradient(circle, var(--mark-color) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position-y: top, 6.5vh;
  }
}

.fret[data-string="1"], .fret[data-string="5"] {
  &[data-fret="12"],
  &[data-fret="24"] {
    background-image: linear-gradient(0deg, transparent calc(50% - 1px), var(--string-color) calc(50%), transparent calc(50% + 1px)), radial-gradient(circle, var(--mark-color) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position-y: top, -6.5vh;
  }
}